.presta {
  min-height: 100vh;
  width: 100%;
  background-color: #020618;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  .background{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    object-fit: cover;
    z-index: 0;
  }

  .background2{
    backdrop-filter: blur(130px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
  }

  .content {

    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .mainContainerCard{
      display: flex;
      justify-content: center;
      width: 90%;

      @media screen and (max-width: 700px)
      {
        width: 100vw;

        overflow: hidden;
      }

      .cardContainer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        @media screen and (max-width: 930px ){
          width: 680px;
        }

        @media screen and (max-width: 700px ){
          flex-wrap: nowrap;
          overflow-x: scroll;
          height: 300px;
          padding-right: 50px;
        }
      }
    }


    .logo{
      width: 40%;
      padding-bottom: 50px;
    }


    h1 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 55px;
      color: white;
      text-transform: none;
      /* identical to box height */
      margin-bottom: 40px;

      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      @media screen and (max-width: 700px)
      {
        font-size: 30px;
      }
    }

    h2 {

      font-family: $Montserrat;
      margin-bottom: 7px;
      text-transform: none;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;

      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      b {
        font-weight: 700;
      }
    }

    .container1 {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .buttonContainer {
      margin-top: 20px;
      width: 100%;

      input {
        width: 70%;
        margin: 0 10px;
        padding: 10px 15px;
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        resize: none;
        outline: none;
        font-size: 15px;
        font-family: $fontW-1;
        font-weight: bold;
        border-radius: 8px;
      }

      button {
        cursor: pointer;
        color: white;
        border: none;
        resize: none;
        outline: none;
        padding: 10px 15px;
        transition: all .3s;
        background: #E33352;
        font-family: $Roboto;
        width: 340px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-top: 20px;
      }
    }
  }
}