.prestaCard{
  width: 164px;
  height: 191px;

  position: relative;

  .backCard{
    background: #FFFFFF;
    border: 1px solid #CC29CA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .backContainer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .frontCard{
    background: #FFFFFF;
    border: 1px solid #CC29CA;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .pointContainer{
    position: absolute;
    width: 48px;
    height: 48px;
    top: -24px;
    right: -24px;
    background: linear-gradient(180deg, #C928D7 0%, #E33352 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;

    h2 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      margin: 0;
      padding-left: 3px;
    }
  }

  .logoContainer{
    width: 100%;
    height: 123px;
    padding-top: 20px;

    img{
      height: 85%;
    }
  }

  .textContainer{
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E33352;
    border-radius: 0 0 12px 12px;

    h2{
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-shadow: none;

      color: #FFFFFF;
    }
  }
}